#Denegar el acceso a un directorio.

#Allow from None
#Order allow,deny

#Denegar el acceso a un directorio.

#deny from all

#Bloquear acceso desde determinadas IP.

#Order deny, allow
#Allow from All
#Deny from XXX.XXX.XXX.XXX
#Deny from XXX.XXX.XXX.XXX

#Evitar listado de directorios.

#IndexIgnore *

#Evitar listado de directorios cargando
#la página principal o mensaje de error.

Options -Indexes


#Evita el hotlink (Que visualice multimedia desde otra web y
#soportando los recursos nuestro servidor).

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https://(www\.)?pritec\.com/.*$ [NC]
RewriteRule .*\.(jpg|gif|bmp|png|mp4)$ [L]

#Cache de imágenes en el navegador cliente durante un mes.
<FilesMatch "\.(ico|jpg|jpeg|png|gif)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

#Control de errores del servidor > https://httpd.apache.org/docs/trunk/es/custom-error.html
ErrorDocument 500 http://foo.example.com/cgi-bin/tester
ErrorDocument 404 /cgi-bin/bad_urls.pl
ErrorDocument 401 /subscription_info.html
ErrorDocument 403 "Sorry can't allow you access today"

#Cambiar página de inicio por defecto.
DirectoryIndex pagina1.html pagina2.htm pagina3.html pagina4.php

#Denegar acceso a archivos con determinada extensión
Order allow,deny
<Files ~ "\.png$">
   allow from all
</Files>

#Denegar acceso a archivos con 2 o más determinadas extensiones
Order allow,deny
<Files ~ "\.(png|jpg)$">
   allow from all
</Files>
